header, main, nav, footer, figure, figcaption, aside, section, article { 
    display:block; 
}
nav {
    text-align: right;
    padding: 0px 5px;
    color: #FFFFFF;
    font-family: "Georgia", "Times New Roman", serif;
    background-repeat: no-repeat;
    background-position: left;
    height: 100px;
    background-image: url(navbackground.jpg);
}
nav ul {
    color: #333;
    list-style-type: none;
    padding: 0;
    font-size: 1.1em;   /* MIGHT REMOVE THIS FONT SIZE */
    float: right;
}
nav li { 
    float: left;
}
nav li a {
    vertical-align: 50%;    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.5s ease-out;
}
nav a:hover {
    color:#FFC98F;
}
h1 {
    padding: 20px 0px 0px 20px;
}
p {
    display: inline-block;
    padding: 0px 20px;
    width: 300px;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0px;
}
.wrapper {
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    width: 960px;
    box-shadow: 0px 2px 10px #333333;
    background-color: #F3F3F3;
}
iframe {
    width: 560px;
    height: 315px;
    float: right;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0;
    padding-bottom: 20px;
}
main ul {
    display: block;
    list-style-type: disc;

}
footer {
    display: block;
    padding: inherit;
    text-align: center;
}